body{
    width: 70%;
    margin: auto;
}
.nav-li{
    list-style: none;
    padding-top: 25px;
    padding-left: 50px;

}
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* padding-bottom: 30px; */
    font-weight: 900;
    background-color: black;
    color: white;
}
i{
    color: black;
}
.intro{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
} 
#intro-1 {
    color: white;
    line-height: 40px;
    font-size: larger;
    background-image: url("../images/food-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height:400px;
    width: 600px;
}
#form {
    padding-top: 100px;
}
#shadow{
    box-shadow:3px 3px 2px 5px rgb(197, 187, 187);
    height: 300px;
    width: 300px;
}
.favorites{
    /* padding-top: 200px; */
    font-size: x-large;
    background-image: url("../images/food-4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 1000px;
    /* color: white; */
}