body{
    width: 70%;
    margin: auto;
}
.nav-li{
    list-style: none;
    padding-top: 25px;
    padding-left: 50px;

}
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 30px;
    font-weight: 900;
    background-color: black;
    color: white;
}
i{
    color: black;
}
.intro{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
} 
#intro-1 {
    color: white;
    background-image: url("../images/food-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height:400px;
    width: 600px;
}
#form {
    padding-top: 20px;
}
